# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
openmetadata-ingestion[redshift]==1.2.2
openmetadata-managed-apis==1.2.2
